* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  background-color: #e5e7eb;
}

/* Grid */
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 9fr;
}
/* header */
.header {
  width: 100%;
  grid-column: 2;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: #f8fafc;
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.548);
  padding-left: 30px;
  padding-right: 30px;
}
/* search bar */
.con {
  display: flex;
  padding: 10px;
}
.searchBar {
  gap: 10px;
  height: 60%;
  align-self: center;
}
.searchBar label {
  cursor: pointer;
  display: flex;
}
.svg {
  width: 2em;
  height: auto;
}
#search {
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #cbd5e1;
  padding: 10px;
  font-size: 1em;
  font-weight: 700;
}
/* user */
.user {
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pPic {
  width: 4em;
  height: auto;
}
/* userName */
.userName {
  gap: 10px;
  padding-left: 40px;
  align-items: center;
}
.userName h5 {
  margin-bottom: 5px;
}
.userName img {
  width: 5em;
}
/* buttons */
.button {
  justify-content: space-around;
  align-items: center;
}
.button > button {
  width: 30%;
  height: 60%;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 1em;
  background-color: #3b82f6;
  color: #f8fafc;
  cursor: pointer;
  transition: 0.3s;
}
.button > button:hover {
  background-color: #60a5fa;
}
/* side bar */
.sideBar {
  grid-row: 1 / 3;
  background-color: #3b82f6;
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  padding-left: 60px;
}
.sideBar > div {
  display: grid;
  gap: 20px;
}

.sideBar a {
  display: grid;
  grid-template-columns: 48px 9fr;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #f8fafc;
  transition: 0.2s;
}
.sideBar a.aD:hover {
  font-size: 1em;
}
.sideBar a:hover {
  font-size: large;
}
.sideBar img {
  justify-self: center;
}

.svgD {
  width: 3em;
}
/* projects */
.projects {
  grid-column: 2;
  grid-row: 2;
  display: flex;
}
/* myProjects */
.myProjects {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
}
/* announcements */
.announcements {
  width: 30%;
  height: 100%;
}
