* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
}

/* Grid */
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/* header */
.header {
  width: 100%;
  border: 1px solid;
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: repeat(2, 1fr);
}
/* search bar */
.searchBar {
  display: flex;
  padding: 10px;
  gap: 20px;
  height: 50%;
  align-self: center;
}
.searchBar label {
  cursor: pointer;
  display: flex;
}
#svgSearch {
  width: 2em;
  height: auto;
}
#search {
  width: 90%;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #cbd5e1;
  padding: 10px;
}
/* user bar */
